body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 20px;
    background-color: #2C3E50;
    /*border: magenta 2px solid; 
    another example of using a border to help me visualize.*/
    border-radius: 10px;
    min-height: 100vh;
    border-radius: 5px;
}

header {
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.25%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: relative;
    background-color: #7f8c8d;
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    order: -1;
}

h1 {
    margin: 0;
    padding: 2.5%;
    font-size: 2rem;
}

nav {
    display: flex;
    align-items: center;
     /*border: orange 2px solid; 
        ^^^this is how I helped myself learn how to target specific elements. 
           I put a different color border around every individual element so I could 
           manipulate it as I needed and would see if my code impacted other elements and how.
     */
    margin: 15px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav li {
    display: flex;
    background-color: #bdc3c7;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
    gap: 10px;
    padding: 10px;
    margin: 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background-color: #ecf0f1;
    transform: translateY(-1.5px);
}

#main{
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
    margin: 0 auto;
    padding-bottom: 1.5%;
    align-items: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    box-sizing: border-box;
    background-color: #7f8c8d;
}

#resume-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 95%;
    height: auto;
    text-align: center;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
    margin: 5px;
    margin-top: 2%;
    background-color: #bdc3c7;
    box-sizing: border-box;
}

#resume-header h2 {
    margin: 5px;
    padding-top: 1.25%;
    text-align: center;
    width: 95%;
}

#prof-exp-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5px 0;
    text-decoration: underline;
    font-size: 1.35rem;
    padding: 1.25%;
}

.exp-one, .skills-main, #footer-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    margin-top: 10px;
    width: 95%;
    background-color: #bdc3c7;
    border-radius: 5px;
    box-sizing: border-box;
}

.exp-one img {
    margin: 10px;
}

#footer-link a {
    margin: 0;
    margin-top: 1.25%;
    padding: 1.25%;
}

.exp-one ul {
    display: flex;
    flex-direction: column;
    margin: 5px 15px;
    padding: 5px 10px;
}

.exp-one li {
    margin: 5px 15px;
}

.prof-exp-title {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    padding: 5px 10px;
}

#skills-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 95%;
    height: auto;
    text-align: center;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
    margin: 5px;
    margin-top: 1.5%;
    padding-bottom: 1.25%;
    background-color: #bdc3c7;
    box-sizing: border-box;
    text-decoration: underline;
    padding-bottom: 1.25%;
}

#about-me-pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#partner-pic, #robert-pic, #nora-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    border: #2C3E50 2px solid;
    align-self: left;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.5%;
    width: 100%;
    max-width: 100%;
    text-align: center;
    background: #7f8c8d;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
    box-sizing: border-box;
}

footer #footer-link {
    padding-bottom: 1.5%;
    margin-bottom: 1.5%;
}

@media (max-width: 900px) {
    body {
        padding: 10px;
        margin: 5px;
    }

    header {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }

    .menu-toggle {
        display: block;
        color: black;
        font-size: 2rem;
        background: none;
        border: none;
        cursor: pointer;
    }

    nav {
        display: none;
        position: static;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    nav.active {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    nav ul {
        flex-direction: row;
        gap: 10px;
        padding: 0;
        margin: 0;
    }

    nav li {
        display: flex;
    }

    nav a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: auto;
        padding: 10px;
        border-radius: 5px;
    }

    nav a:hover {
        background: white;
    }

    #main {
        margin: 15px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: center;
    }

    #about-me-pics img {
        margin: 15px;
        width: 160px;
        height: 160px;
    }

}

@media (max-width: 600px) {

    h1 {
        font-size: 2rem;
        text-align: center;
    }

    header {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav {
        display: none;
        position: static;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    nav.active {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    nav ul {
        flex-direction: row;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    nav a {
        display: block;
        justify-content: center;
        padding: 10px;
    }

    nav a:hover {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: auto;
        padding: 10px;
        border: #2C3E50 2px solid;
        box-shadow: 0 0 3px #2C3E50;
        border-radius: 5px;
    }

    #main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #about-me-pics {
        flex-direction: column;
        align-items: center;
    }

    #about-me-pics img {
        margin: 15px;
        width: 160px;
        height: 160px;
    }

    footer {
        font-size: 0.8rem;
        margin: 10px;
    }
}