body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: silver;
}

header {
    border: red 2px solid;
    margin: 25px;
    display: flex;
    justify-content: center;
}

.nav {
    border: orange 2px solid;
    margin: 25px;
}

#main {
    border: blue 2px solid;
    margin: 25px;
    max-width: fit-page
}

iframe {
    display: block;
    width: 98%;
    height: 100%;
}

footer {
    border: green 2px solid;
    margin: 25px;
}