* {
   box-sizing: border-box; 
  }

  body {
    margin: 0;
  }

  #main {
    display: flex;
    min-height: calc(100vh - 40vh);
  }

  #main > article {
    flex: 1;
  }

  #main > aside {
    flex: 0 0 20vw;
    background: beige;
  }

  header, footer, article, aside {
    padding: 1em;
  }

  header, footer {
    background: yellowgreen;
    height: 20vh;
  }