body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 20px;
    background-color: silver;
    border: magenta 2px solid;
    border-radius: 10px;
    min-height: 100vh;
}

header {
    border: red 2px solid;
    margin: 25px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

h1 {
    margin: 0;
    padding: 10px;
    font-size: 2rem;
}

nav {
    display: flex;
    border: orange 2px solid;
    margin: 15px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    background-color: white;
}

#main {
    border: blue 2px solid;
    margin: 25px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    box-sizing: border-box;
}

iframe {
    margin: 0 auto;
    height: 60vh;
    max-width: 900px;
    width: 80vw;
    height: 60vh;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    border: green 2px solid;
    margin: 25px;
}

@media (max-width: 900px) {
    body {
        padding: 10px;
        margin: 5px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .menu-toggle {
        display: block;
        color: black;
        margin-bottom: 10px;
    }

    nav {
        display: none;
    }

    nav.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav a {
        display: block;
        padding: 10px;
        border-top: 1px solid white
    }

    #main {
        margin: 15px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: center;
    }

    iframe {
        width: 90vw;
        height: 60vh;
        max-width: 700px;
    }
}

@media (max-width: 600px) {
    body {
        padding: 10px;
        margin: 5px;
    }
    
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        display: none;
    }

    nav.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    nav a:hover {
        background-color: #ddd;
    }

    #main {
        margin: 10px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    iframe {
        width: 100%;
        height: 50vh;
        max-width: 100%;
        border-radius: 4px;
    }

    footer {
        font-size: 0.8rem;
        margin: 10px;
    }
}