body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 20px;
    background-color: #2C3E50;
    border: magenta 2px solid;
    border-radius: 10px;
    min-height: 100vh;
}

header {
    border: red 2px solid;
    margin: 25px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: relative;
    background-color: #7f8c8d;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    order: -1;
}

h1 {
    margin: 0;
    padding: 10px;
    font-size: 2rem;
}

nav {
    display: flex;
    align-items: center;
    border: orange 2px solid;
    margin: 15px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav li {
    display: flex;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: black 2px solid;
    border-radius: 6px;
    gap: 10px;
    padding: 10px;
    margin: 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background-color: #ecf0f1;
    transform: translateY(-1.5px);
}

#main {
    border: blue 2px solid;
    margin: 25px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2.55%;
    min-height: 70vh;
    box-sizing: border-box;
    background-color: #7f8c8d;
}

#resume-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 10%;
    text-align: center;
    border: brown 2px solid;
    margin: 10px;
}

#resume-header h2 {
    margin: 5px ;
    text-align: center;
}

#prof-exp-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

#exp-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: purple 2px solid;
    margin-top: 10px;
    width: 95%;
}

#prof-exp-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-around;
    margin: 5px 0;
    padding: 5px 10px;
}



footer {
    border: green 2px solid;
    margin: 25px;
}

@media (max-width: 900px) {
    body {
        padding: 10px;
        margin: 5px;
    }

    header {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }

    .menu-toggle {
        display: block;
        color: black;
        font-size: 2rem;
        background: none;
        border: none;
        cursor: pointer;
    }

    nav {
        display: none;
        position: static;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        width: 100%;
        border: black 2px solid;
    }

    nav.active {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    nav ul {
        flex-direction: row;
        gap: 10px;
        padding: 0;
        margin: 0;
    }

    nav li {
        display: flex;
    }

    nav a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: auto;
        padding: 10px;
        border: black 2px solid;
        border-radius: 5px;
    }

    nav a:hover {
        background: white;
    }

    #main {
        margin: 15px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 600px) {

    h1 {
        font-size: 2rem;
        text-align: center;
    }

    header {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav {
        display: none;
    }

    nav.active {
        justify-content: center;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    nav a {
        display: block;
        justify-content: center;
        padding: 10px;
    }

    nav a:hover {
        background: white;
    }

    #main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        font-size: 0.8rem;
        margin: 10px;
    }
}