body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #2C3E50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    flex: 1 1 100%;
    border-radius: 5px;
    background-color: #7f8c8d;
    padding: 10px;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 20px;
    justify-content: center;
}

#hp-text{
    justify-content: center;
    padding: 10px;
    background-color: #7f8c8d;
    border-radius: 5px;
}

h1 {
    text-align: center;
    background-color: #bdc3c7;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
}

.pic-text-cont {
    display: flex;
    background-color: #bdc3c7;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
    padding: 25px;
    margin: 25px;
}

#landing-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border: 1px solid black;
  overflow: hidden;
  border-radius: 50%;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding-top: 3em;
}

#hp-desc {
    background-color: #bdc3c7;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 25px;;
}

.hp-links {
    background-color: #bdc3c7;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    list-style-type: none;
}

ul li {
    display: flex;
    background-color: #bdc3c7;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
    padding: 5px;
}

li:hover {
    background-color: #ecf0f1;
    transform: translateY(-1.5px);
}