/* landingPageStyle */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #2C3E50;
}

.hero {
    min-height: 80wh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;;
    border-radius: 5px;
    background-color: #7f8c8d;
    margin: 0;
    padding: 10px;
    font-size: 1.2em;
    line-height: 1.5em;
} 

#hp-text{
    padding: 15px;
    background-color: #7f8c8d;
    border-radius: 5px;
    text-align: left;
}

h1 {
    text-align: center;
    background-color: #bdc3c7;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
}

.pic-text-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    background-color: #bdc3c7;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
    padding: 25px;
    margin: 25px 0;
}

#landing-photo {
    width: clamp(160px, 18vw, 250px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
}

#hp-desc {
    background-color: #bdc3c7;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    height: 75%;
}

.hp-links {
    background-color: #bdc3c7;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
    margin-top: 20px;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px;
}

ul li {
    background-color: #bdc3c7;
    border: #2C3E50 2px solid;
    box-shadow: 0 0 3px #2C3E50;
    border-radius: 5px;
    padding: 5px 10px;
}

li:hover {
    background-color: #ecf0f1;
    transform: translateY(-1.5px);
}

@media (max-width: 900px) {
.pic-text-cont {
    flex-direction: column;
    text-align: center;
}

#landing-photo {
    width: 200px;
    height: 200px;
}
}

@media (max-width: 600px) {
.pic-text-cont {
    flex-direction: column;
    text-align: center;
}

#landing-photo {
    width: 200px;
    height: 200px;
}
}

/* Resume page style */


