body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    flex: 1 1 100%;
    border: purple 2px solid;
    padding: 10px;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 20px;
    justify-content: center;
}

#hp-text{
    justify-content: center;
    border: magenta 2px solid;
    padding: 10px;
    flex-flow: column wrap;
}

h1 {
    text-align: center;
    border: limegreen 2px solid;
    padding: 10px;
    justify-content: center;
}

img {
    clip-path: circle(50%);
    max-width: 100%;
    width: 20%;
    flex: 0 1 20%;
}

#hp-desc {
    border: orange 2px solid;
    padding: 10px;
    justify-content: center;
}

.hp-links {
    border: blue 2px solid;
}