body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    flex: 1 1 100%;
    border: purple 2px solid;
    border-radius: 20px;
    background: purple;
    padding: 10px;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 20px;
    justify-content: center;
}

#hp-text{
    justify-content: center;
    border: magenta 2px solid;
    padding: 10px;
    background: magenta;
}

h1 {
    text-align: center;
    border: limegreen 2px solid;
    background: limegreen;
    padding: 10px;
    justify-content: center;
}

.pic-text-cont {
    display: flex;
    border: red 2px solid;
    background: red;
    padding: 25px;
    margin: 25px;
}

#landing-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border: 1px solid black;
  overflow: hidden;
  border-radius: 50%;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding-top: 3em;
}

#hp-desc {
    border: orange 2px solid;
    
    padding: 10px;
    text-align: center;
    margin: 25px;;
}

.hp-links {
    border: blue 2px solid;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}